registry="https://registry.npmmirror.com"
electron_mirror=https://npmmirror.com/mirrors/electron/
ELECTRON_MIRROR="https://npmmirror.com/mirrors/electron/"
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
node-linker=hoisted
# 将pnpm变成扁平化架构，pnpm专用
shamefully-hoist=true
